body{
background:#0A0800;
color:#FFB800;
font-family:Exo 2;
max-width:430px;
margin:auto;
}

header{
display:flex;
justify-content:space-between;
padding:10px;
}

.nav{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:space-around;
background:#000;
}

button{
background:#FFB800;
border:none;
padding:10px;
}